// Init
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

// Variables
$font: "Josefin Sans", sans-serif;

$primary: #6daca1;
$secondary: #66a3a8;
$tertiary: #94b3c2;
$text: #1f2322;
$accent: #a1727a;

$inspect: solid 1px red;

// Styles
body {
  font-family: $font;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  // border: $inspect;

  width: 1440px;
  max-width: 100vw;
  height: 800px;
  display: flex;
}

//--- Advert styles
.advert-container {
  height: 100%;
  width: 100%;
  background: $primary;
}

//--- Photo styles
.photo-wrapper {
  img {
    width: 600px;
    height: 100%;
    object-fit: cover;
  }
}
